:root{
    --bg:#ffffff;
    --surface:#ffffff;
    --surface-2:#f5f6f2;

    --border:#111111;

    --text:#111111;
    --muted:#5b6270;

    --accent:#abf910;
    --accent-hover:#93df0e;

    --accent-soft:#f2ffd6;
    --accent-text:#111111;
}

:root[data-theme="dark"]{
    --bg:#0d0e10;
    --surface:#17181b;
    --surface-2:#1e2023;

    --border:#f3f4ef;

    --text:#f3f4ef;
    --muted:#c6cad3;

    --accent:#abf910;
    --accent-hover:#93df0e;

    --accent-soft:#2b3306;
    --accent-text:#f3f4ef;
}

::selection{
    background:#abf910;
    color:#111111;
}

body{
    transition: background-color 160ms ease, color 160ms ease;
}